@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  font-size: 14px; }

/* Raleway: font-family: 'Raleway', sans-serif */
/* Open Sans: font-family: 'Open Sans', sans-serif */
/* Primary */
/* Acent */
/* Neutral */
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, span, input {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  h1.regular, h2.regular, h3.regular, h4.regular, h5.regular, h6.regular, span.regular, input.regular {
    font-weight: 400; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold, span.bold, input.bold {
    font-weight: 700; }

h1, h2, p {
  color: #070439; }

nav {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav img {
    width: 80px; }
  nav div a {
    text-decoration: none;
    color: #070439;
    padding-left: 1em; }

.hero {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .hero img {
    width: 100%;
    margin-top: 6rem; }
  .hero h1 {
    margin-top: 2.5rem;
    font-size: 1.4rem; }
  .hero p {
    margin: 2rem 0; }

.background {
  background-image: url("../../images/bg-curve-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6em;
  height: 90px; }

.main-content {
  background-color: #f8f8fe;
  padding-bottom: 6em; }
  .main-content .container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto; }
    .main-content .container img {
      width: 100%; }
    .main-content .container h1 {
      font-size: 1.2em;
      text-align: center;
      margin: 4em 0 2em; }
    .main-content .container .bottom {
      padding-bottom: 1em; }
    .main-content .container .see-link {
      text-align: center;
      margin: 2.5em 0 3.5em;
      position: relative; }
      .main-content .container .see-link a {
        color: #3c9f8f;
        text-decoration: none;
        border-bottom: 1.5px solid #3c9f8f;
        padding: 0 20px 5px 0; }
        .main-content .container .see-link a object {
          position: absolute;
          bottom: 1px;
          right: 85px; }
    .main-content .container .testimonial {
      background-color: white;
      padding: 2em;
      border-radius: 5px;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05); }
      .main-content .container .testimonial p {
        font-size: 0.74rem;
        padding-top: 5px;
        line-height: 20px; }
      .main-content .container .testimonial .flex-container {
        display: flex;
        align-items: center;
        margin-top: 1.5em; }
        .main-content .container .testimonial .flex-container img {
          border-radius: 50%;
          width: 15%; }
        .main-content .container .testimonial .flex-container p {
          display: flex;
          flex-direction: column;
          font-weight: 700;
          padding-left: 0.5rem;
          line-height: 15px; }
          .main-content .container .testimonial .flex-container p small {
            font-weight: 400;
            font-size: 0.6em; }

.get-started button {
  width: 100%;
  margin-top: 1rem;
  padding: 1.5em;
  font-weight: 700;
  background-color: #3065f8;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); }

.get-started input {
  box-sizing: border-box;
  border: 1px solid #070439;
  border-radius: 5px;
  width: 100%;
  padding: 1rem 0 1rem 1.5rem;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

/*# sourceMappingURL=style.css.map */
