.background
  background-image: url("../../images/bg-curve-mobile.svg")
  background-position: top
  background-repeat: no-repeat
  background-size: cover
  margin-top: 6em
  height: 90px

.main-content
  background-color: #f8f8fe
  padding-bottom: 6em
  // Main Content Container
  .container
    width: 85%
    max-width: 1440px
    margin: 0 auto
    img
      width: 100%
    h1
      font-size: 1.2em
      text-align: center
      margin: 4em 0 2em
    .bottom
      padding-bottom: 1em

    // See how fylo works link
    .see-link
      text-align: center
      margin: 2.5em 0 3.5em
      position: relative
      a
        color: $cyan
        text-decoration: none
        border-bottom: 1.5px solid $cyan
        padding: 0 20px 5px 0
        object
          position: absolute
          bottom: 1px
          right: 85px

    // Testimonial Block
    .testimonial
      background-color: white
      padding: 2em
      border-radius: 5px
      max-width: 255px
      margin: 0 auto
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, .05)
      p
        font-size: 0.74rem
        padding-top: 5px
        line-height: 20px
      .flex-container
        display: flex
        align-items: center
        margin-top: 1.5em
        img
          border-radius: 50%
          width: 15%
        p
          display: flex
          flex-direction: column
          font-weight: $bold
          padding-left: 0.5rem
          line-height: 15px
          small
            font-weight: $regular
            font-size: 0.6em

// Early Access Block
.early-access
  text-align: center
  background-color: $desaturate-blue
  padding-top: 4rem
  padding-bottom: 4.5rem
  @media only screen and (min-width: 768px)
    padding-top: 6rem
  .container
    width: 75%
    max-width: 1440px
    margin: 0 auto
    @media only screen and (min-width: 768px)
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap: 14rem
      width: 85%
      text-align: left
    h2
      font-size: 1.2em
      color: $gray-blue
      padding-bottom: 1rem
      @media only screen and (min-width: 768px)
        font-size: 1.9em
    p
      color: $gray-blue
      margin-bottom: 1.5em
